body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin-bottom: 100px;
}

#about-me {
  margin-top: 100px;
}

.container-hero {
  margin-bottom: 0;
}

.h2,
h2 {
  font-size: calc(1.3rem + 0.9vw);
}

.about-text {
  color: #000;
}

.h3,
h3 {
  font-size: calc(1rem + 0.6vw);
}

h2 {
  display: flex;
  justify-content: center;
  color: #000000;
}
h3 {
  color: #fff;
}
header {
  width: 100%;
  background: url(img/bg.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 338px;
  padding-top: 329px;
}

.logo-brand {
  background: url(img/logo.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 71px;
  height: 77px;
  margin-right: 5px;
}

.navbar {
  background: #0f6188;
}
ul li {
  margin-right: 50px;
}

ul li:last-child {
  margin-right: 0;
}

.navbar-brand {
  margin-left: 5px;
  font-family: Overlock;
  font-style: normal;
  width: 6rem;
}

.rect {
  background: #ffffff;
  border: 1px solid rgba(76, 157, 208, 0.35);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}

.img-about {
  height: 45px;
  margin-top: 23px;
}

#about-photo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  margin: 0 auto;
}

.what-do1 {
  background: linear-gradient(89.85deg, #4197cd -4.48%, rgba(65, 151, 205, 0) 99.86%);
  border-radius: 10px;
}
.what-do2 {
  background: linear-gradient(89.85deg, #32c853 -4.48%, #ffffff 99.86%);
  border-radius: 10px;
}
.what-do3 {
  background: linear-gradient(89.85deg, #ff472e -4.48%, rgba(255, 71, 46, 0) 99.86%);
  border-radius: 10px;
}
.what-do4 {
  background: linear-gradient(89.85deg, #ff922e -4.48%, rgba(255, 152, 0, 0) 99.86%);
  border-radius: 10px;
}

.what-do1 h3 {
  color: #fff;
  margin-bottom: 0;
  margin-left: 10px;
}
.what-do2 h3 {
  color: #fff;
  margin-bottom: 0;
  margin-left: 10px;
}
.what-do3 h3 {
  color: #fff;
  margin-bottom: 0;
  margin-left: 10px;
}
.what-do4 h3 {
  color: #fff;
  margin-bottom: 0;
  margin-left: 10px;
}

.info {
  color: #000;
}

.info p {
  margin-bottom: 5px;
}

.offer-p-card {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.offer-p-about {
  background: #4a9ccf;
  border-radius: 10px;
}

.offer-p-info {
  color: #000000;
  margin-top: 20px;
}

.offer-p-info .offer-p-pay {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.opinion-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.opinion-card .opinion-text {
  color: #000;
}

.check {
  margin-top: 23px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  height: 75px;
}

.cover-text {
  color: #000000;
}

.cover-text h3 {
  color: #000000;
}

.btn-primary {
  background: #ff472e;
  border-radius: 10px;
  padding: 15px 54px;
  border-color: #ff472e;
}

.card-article {
  margin-top: 30px;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.card-article h5 {
  margin-left: 30px;
}

.btn:hover {
  color: #fff;
  background: #ff442c;
  border-color: #fd2e12;
}

.btn-primary:hover {
  color: #fff;
  background: #ff442c;
  border-color: #fd2e12;
}

.btn-op {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  background: #ff472e;
  border-radius: 10px;
  padding: 15px 54px;
  border-color: #ff472e;
}

.text-kontakt h4 {
  color: #000000;
}

.btn-op-form {
  color: #fff;
  margin-top: revert;
  margin-bottom: revert;
  margin-right: 30px;
  background: #ff472e;
  border-radius: 10px;
  padding: 15px 54px;
  border-color: #ff472e;
}

label {
  display: grid;
}

@media (min-width: 576px) and (max-width: 992px) {
  p {
    font-size: 14px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  header {
    background-image: url(img/bg-tablet.png);
    max-width: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 238px;
    padding-top: 129px;
  }

  header .offer h1 {
    font-size: 18px;
  }
  header .offer h4 {
    font-size: 13px;
  }

  .nav-link {
    padding: 0 0 10px 0;
    margin-right: 0;
  }
  ul li {
    font-size: 12px;
    margin-right: 0;
  }
  .container {
    margin-bottom: 50px;
  }

  #about-me {
    margin-top: 50px;
  }

  .container {
    margin-top: 100px;
  }

  .container-hero {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .logo-brand {
    width: 50px;
    height: 54px;
    margin-right: 3px;
  }

  .navbar-brand {
    margin-left: 3px;
    font-size: 12px;
    width: 4rem;
  }

  button {
    align-items: center;
  }

  .button.btn-sell.btn.btn-sell.btn-primary {
    display: flex;
    justify-content: center;
    margin: auto 0;
    align-items: center;
    align-items: center;
  }
  .btn-op {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card-article h5 {
    margin-top: 10px;
    margin-left: 0;
  }

  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }

  .card-article {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card-article .text-op {
    text-align: center;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  header {
    background-image: url(img/bg-mobi.png);
    max-width: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 138px;
    padding-top: 129px;
  }

  header .offer h1 {
    font-size: 18px;
  }
  header .offer h4 {
    font-size: 13px;
  }

  .nav-link {
    padding: 0 0 10px 0;
    margin-right: 0;
  }
  ul li {
    font-size: 12px;
    margin-right: 0;
  }
  .container {
    margin-bottom: 50px;
  }

  .container-hero {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #about-me {
    margin-top: 50px;
  }

  .logo-brand {
    width: 50px;
    height: 54px;
    margin-right: 3px;
  }

  .navbar-brand {
    margin-left: 3px;
    font-size: 12px;
    width: 4rem;
  }

  .btn-op {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card-article {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .card-article h5 {
    margin-top: 10px;
    margin-left: 0;
  }

  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .card-article .text-op {
    text-align: center;
  }
}
