header {
  width: 100%;
  background: url(../img2.0/bg.webp);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 338px;
  padding-top: 329px;
}
